<html>
	<head>
		<title> BTG's Blog </title>	
	</head>	
	<body>	
		<div>
			<h1><a href="">BTG Blog</a><h1> 
		</div>
		
		<div>
			<p>Hi there!</p>
			<p>It works!, and I will be the greatest programmer ever!! It works!, and I w			     ill be the greatest programmer ever!!It works!, and I will be the greatest pr			  ogrammer ever!!It works!, and I will be the greatest programmer ever!!</p>
		</div>
	
		<div>
			<h2><a href="">Practice everyday nerd!</a></h2>
		</div>	

		<div>
			<p>I shall practice every single fucking day!
			I shall practice every single fucking day!
			I shall practice every single fucking day!
			I shall practice every single fucking day!</p>
		</div>

	</body>
</html>
